{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "graph/style.css" %}"/>
<script src="{% static "graph/cytoscape.js" %}"></script>
<script src="{% static "graph/jquery-2.1.3.min.js" %}" type="text/javascript"></script>
</head>
<body>
<div id="leveldiv">
    Уровень соседей
    <input type="number" id="level" min="2" max="4" value="2" />
</div>
<div id="selection">
    Номер ребра
    <input type="number" id="edge" min="1" value="1"/>
    <input type="button" id = "refresh_edge" value="Найти по номеру ребра"/>
</div>
<div id="selection2">
    Начало
    <input type="number" id="begin" min="1" value="1"/>
    Конец
    <input type="number" id="end" min="1" value="1"/>
    <input type="button" id = "refresh_nodes" value="Показать по номерам вершин"/>
</div>
<div id="container"></div>

<script type="text/javascript">
    window.onload=function(){
        var jnodes = JSON.parse('{{nodes|safe}}');
        var jedges = JSON.parse('{{edges|safe}}');        
        var cy = cytoscape({
            container: document.getElementById('container'),
            elements: {
                nodes: jnodes,
                edges: jedges
                },
            selectionType: 'single',
            layout: {name : 'preset'},  
            style: [
                {
                    selector: 'node',
                    css: {
                        'width' : '10px',
                        'height' : '10px',
                        'font-color' : 'blue',
                        'font-size' : 14,
                        'content' : 'data(id)'
                        //'background-color': 'red'
                    },                    
                },
                {
                    selector: 'edge',
                    css: {
                        'font-size': 18,
                        'content' : 'data(name)',
                        'width' : 4
                    }
                },
                {
                    selector: 'edge[iscentral=1]',
                    css: {
                        'line-color': 'red',                        
                    }                    
                },
                {
                    selector: 'edge[iscentral=0]',
                    css: {
                        'line-color': 'gray',                        
                    }
                }
                ]     
            });
        cy.on('tap', 'edge', function(evt) {
            data = evt.cyTarget._private.data
            $.ajax({
                url : "special/",
                data: {"edge" : data.true_id, "level" : $("#level").val()},
                type: "post",
                success: function(message) {
                    new_edges = message.edges;
                    new_nodes = message.nodes;
                    $('input[name=id]').val(message.central);
                    console.log($('input[name=id]'))
                    cy.load({
                        nodes: new_nodes,
                        edges: new_edges
                    },
                    function(e) {
                        
                    },
                    function(e) {
                        cy.fit();
                        cy.center();
                    }
                    );
                }
            });            
        });
        $("#refresh_nodes").on("click", function() {        
        $.ajax({
                url : "special_nodes/",
                data: {"begin" : $("#begin").val(), "end" : $("#end").val(), "level" : $("#level").val()},
                type: "post",
                success: function(message) {
                    console.log(message)
                    new_edges = message.edges;
                    new_nodes = message.nodes;
                    $('input[name=id]').val(message.central);
                    cy.load({
                        nodes: new_nodes,
                        edges: new_edges
                    },
                    function(e) {
                        
                    },
                    function(e) {
                        cy.fit();
                        cy.center();
                    }
                    );                   
                },
                error: function(err) {
                    console.log(err)
                }
            });     
        })
        $("#refresh_edge").on("click", function() {        
        $.ajax({
                url : "special/",
                data: {"edge" : $("#edge").val(), "level" : $("#level").val()},
                type: "post",
                success: function(message) {
                    console.log(message)
                    new_edges = message.edges;
                    new_nodes = message.nodes;
                    $('input[name=id]').val(message.central);
                    cy.load({
                        nodes: new_nodes,
                        edges: new_edges
                    },
                    function(e) {
                        
                    },
                    function(e) {
                        cy.fit();
                        cy.center();
                    }
                    );                   
                },
                error: function(err) {
                    console.log(err)
                }
            });     
        })
    }
    
</script>
<div id = "streetform">
    <form action="add/" method="post">
        {% csrf_token %}  
        <label>Введите имя улицы</label>      
        <input type="text" name="name" id="street" value="" />
        <input type="hidden" name="id" id="street_id" value="{{central}}"/>
        <input type="submit" value="OK" />
    </form>

</div>
<div>
    <a href="all/">Скачать в формате csv</a>
</div>
</body>
</html>